.sidemenu-container{
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    left: 0;
    background-color: black;
    transition-duration: 0.5s;
}
.closed{
    left: -400px;
    transition-duration: 0.5s;
}
.toogle-sidemenu{
    position: absolute;
    width: 20px;
    height: 30px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    background: black;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    outline: none;
    box-shadow: none;
}
