.sidemenu-container{
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    left: 0;
    background-color: #0b2474;
    transition-duration: 0.5s;
    border-right: 1px solid white;
}
.closed{
    left: -400px;
    transition-duration: 0.5s;
}
.toogle-sidemenu{
    position: absolute;
    width: 20px;
    height: 30px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    color: white;
    background: #0b2474;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    outline: none;
    box-shadow: none;
    border: 1px solid white;
}
.countryList{
    list-style: none;
    height: 100%;
    overflow-y: scroll;
    padding: 0;
}
.countryList > li{
    color: white;
}
.countryList > li > a{
    cursor: pointer;
}